<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head'); %>
  </head>
  <%- include('./partials/nav'); %>
  <div id='title' class="container" style="margin-top: 3em;">
    <div class="row justify-content-center">
      <h1 class="display-4"><%= Movie.name %></h1>
    </div>
  </div>

  <div class="container" style="margin-top: 3em;">
    <div class="row justify-content-start">
      <div class="col col-lg-6" style="margin-top: 2em;">
        <img src="<%= Movie.poster %>">
      </div>
      <div class="col-6" style="margin-top: 2em;">
        <%= Movie.description %>
        <div style="margin-top: 2em;">
          Released: <%= Movie.release %>
        </div>
        <div style="margin-top: 1em; font-style: italic;">
          <% Movie.categories.forEach(function(n) { %>
          <%= n %>
          <% }) %>
        </div>
        <div style="margin-top: 2em;">
          <button class="btn btn-outline-info" id="add_to_cart">
            Add to cart
          </button>
        </div>
      </div>
    </div>

    <div class="row justify-content-start" style="margin-top: 1em;">
      <div class="col col-lg-1"">
        $<%= (Movie.price / 100).toFixed(2) %>
      </div>
      <div class="col">
        In Stock:
        <%= Movie.stock %>
      </div>
    </div>
  </div>
  <script>
    $(document).ready(function() {
      $('#add_to_cart').click(function() {
        var movies = localStorage.getItem('movies')
        if(movies == null) {
          var temp = '<%= Movie._id %>'
          console.log(temp)
        }
      })
    })
  </script>

  <%- include('./partials/footer'); %>
</html>