<!DOCTYPE html>
<html lang="en">
    <head>
      <%- include('./partials/head'); %>
    </head>
    <%- include('./partials/nav'); %>
    <div id='title' class="container" style="margin-top: 3em;">
        <div class="row justify-content-center">
          <h1 class="display-4">Movies in stock: <h1>
        </div>
    </div>
    <div class="container" style="justify-content: center; margin-top: 3em;">
        <table class="table table-bordered table-dark">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Poster</th>
                <th scope="col">Movie Name</th>
                <th scope="col">Stock</th>
                <th scope="col">
                  <button id="add" class="btn btn-outline-success">
                    Add Movie
                  </button>
                </th>
              </tr>
            </thead>
            <tbody style="font-size: x-large;">
                <% for(var i = 0; i < Movie.length; i++) { %>
                <tr>
                    <th scope="row"><%= i + 1 %></th>
                    <td> <img src="<%= Movie[i].poster %>" /></td>
                    <td style="font-style: italic; font-weight: bold;">
                      <a href='get_movie?<%= Movie[i]._id %>' style="color: currentColor">
                        <%= Movie[i].name %>
                      </a>
                      <br><br>
                        <div style="font-style: normal; font-weight: lighter;">
                            <%- Movie[i].summary %>
                        </div>
                    </td>
                    <td><%= Movie[i].stock %></td>
                    <!-- Edit / Delete here -->
                    <td>
                      <button id="edit"class="btn btn-outline-warning" id="submit">
                        <a href="/stock/edit?<%= Movie[i]._id %>" style="color: currentColor">
                          Edit
                        </a>
                      </button>
                      <button id="delete" class="btn btn-outline-danger" id="submit">
                        <!-- i dont think we need to redirect -->
                        <a style="color: currentColor" href='stock/delete?<%= Movie[0]._id %>'>
                          Delete
                        </a>
                      </button>
                    </td>
                </tr>
                <% } %>
            </tbody>
          </table>
    </div>
    <script>
      $(document).ready(function() {

        $('#add').click(function() {
          console.log('Add a movie...')
          window.location.href = '/stock/add'
        })

        $('#delete').click(function() {
          console.log('DELETE')
        })

      })
    </script>
    <%- include('./partials/footer'); %>
</html>